<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row gy-5">
        <div class="col-md-5">
          <h4 class="logo-text">SFCC Tourism inn</h4>
          <p>worlds best hotels</p>
        </div>
        <div class="col-md-5">
          <h5 class="title-sm">More</h5>
          <div class="footer-links">
            <a href="#">FAQ's</a>
            <a href="#">Privacy & Policy</a>
            <a href="#">Liscences</a>
          </div>
        </div>
        <div class="col-md-2">
          <h5 class="title-sm">Contact</h5>
          <div class="footer-links">
            <p class="mb">Paris</p>
            <p class="mb-">43973862876</p>
            <p class="mb">sfcc@sapient.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-between gy-3">
        <div class="col-md-6">
          <p class="mb-0">© Agency2021. All rights reserved</p>
        </div>
        <div class="col-auto">
          <p class="mb-0">Created with ❤️ by Cyborg Tech</p>
        </div>
      </div>
    </div>
  </div>
</footer>