{{> navbar}}

<section id="home">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h1 class="text-white display-4">WELCOME TO SFCC TOURISM INN HOTELS PARIS</h1>
        <p class="text-white">Experience the pleasant stay</p>
        <a href="/register" class="btn btn-brand">Register</a>
      </div>
    </div>
  </div>
</section>


<!--  About started-->
<section id="about">
  <div class="col-12 section-intro">
    <h1>About</h1>
    <div class="hline"></div>
  </div>

  </div>
  <div class="container-fluid" id="about-container">
    <div class="row" id="banner-row">
      <div class="col-md-6" id="about-col">
        <h3 class="text-center">Why Us</h3>
        <ul>
          <li>
            The SFCCTourist Inn was started on Sep 2020 located at 13, Rue des Beaux-Arts, 75006 Paris.
          </li>
          <li>The System For SFCCTourism Inn Reservation provides a place for some
            travellers or guest in that location and running a business well.</li>
          <li>
            It will great help for the Gym Reservation System to design a Project to
            have an easy task for hotel to have an easy transaction for the guest and less time to saving the
            information.
          </li>
          <li>Hotel Management System, the owner and manager of the tourist inn can access this system to monitor all
            guest entering at the inn through the reports file.
            They can reserve a rooms, can book also and can add another day to stay in.</li>
        </ul>
      </div>
      <div class="col-md-5" id="banner-col2">
        <img src="./img/about.png" class="card-img-top" alt="#" height="400px" width="300px" />
      </div>
    </div>
  </div>
</section>
<!-- About Ended-->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 section-intro">
        <h1>Services</h1>
        <div class="hline"></div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="./img/gym.jpg" class="card-img-top" alt="" height="300px" />
        <div class="card-body">
          <h5 class="card-title">GYM</h5>
          <ul>
            <li>Do something today that your future self will thank you for.</li>
            <li>Take care of your body. It’s where you live.</li>
            <li>Getting fit is all about mind over matter. If you don’t mind, it doesn’t matter.</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <img src="./img/safetybox3.png" class="card-img-top" alt="" height="300px" />
        <div class="card-body">
          <h5 class="card-title">SAFETY DEPOSIT BOX</h5>
          <ul>
            <li>If you need a place to store valuables, hotels have safe deposit boxes at branches.
            </li>
            <li> All safe deposit boxes are installed with dual locks for additional security. </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <img src="./img/swimmingpool.jpg" class="card-img-top" alt="" height="300px" />
        <div class="card-body">
          <h5 class="card-title">SWIMMINGPOOL</h5>
          <ul>
            <li>As well as being fun, swimming is a great way to keep fit and make friends.</li>
            <li>Swimming is a healthy activity that you can continue for a lifetime.</li>
            <li>Swimming is a low-impact activity that has many physical and mental health benefits.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="./img/Spa.jfif" class="card-img-top" alt="" height="300px" />
        <div class="card-body">
          <h5 class="card-title">spa</h5>
          <ul>
            <li>You Are Now Entering a Stress Free Zone.</li>
            <li>To Relax And Renew Is Essential To Living Well.</li>
            <li>A place to unwind the body,mind,&soul.</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <img src="./img/Game2.png" class="card-img-top" alt="" height="300px" />
        <div class="card-body">
          <h5 class="card-title">Gaming zone</h5>
          <ul>
            <li>Life is like a game zone Play it unless and until you loose yourself
            </li>
            <li> Wherever You're Dreaming of,We Know Just the Place.</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <img src="./img/laundry3.jpg" class="card-img-top" alt="" height="300px" />
        <div class="card-body">
          <h5 class="card-title">laundry</h5>
          <ul>
            <li>Learn to put your troubles in your pocket, then leave them there when you do your laundry.</li>
            <li>A good laundry room with storage can make life easier.</li>
          </ul>
        </div>
      </div>
    </div>
</section>
<div id="gallery">
  <section style="padding: 50px;">
    <div class="container-fostrap">

      <div class="col-12 section-intro">
        <h1>gallery</h1>
        <div class="hline"></div>

      </div>
      <div class="container">
        <div class="row">
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/gym2.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/gym3.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/safetybox2.png" class="img-fluid rounded" style="height: 250px;">
          </a>
        </div>
        <div style="margin:10px"></div>
        <div class="row">
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/laundry.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/laundry2.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/Game3.png" class="img-fluid rounded" style="height: 250px;">
          </a>
        </div>
        <div style="margin:10px"></div>
        <div class="row">
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/Game.png" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/gym3.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/spa2.png" class="img-fluid rounded" style="height: 250px;">
          </a>
        </div>
        <div style="margin:10px"></div>
        <div class="row">
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/spa3.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/swimmingpool2.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
          <a href="" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="./img/swimmingpool4.jpg" class="img-fluid rounded" style="height: 250px;">
          </a>
        </div>
      </div>
    </div>
</div>
</section>
</section>

<section id="team">

  <div id="team" class="col-12 section-intro">
    <h1>Team</h1>
    <div class="hline"></div>

  </div>
  <section class="row g-0 py-0 text-center">

    <div class="col-lg-3 col-sm-6 team-member">

      <div class="team-member-img">
        <img src="./img/naveen.jfif" alt="">
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0 text-white">Shubham gupta</h5>
        <small class="text-white">Web Designer</small>
        <div class="hline"></div>
        <p class="text-white">Creative Thinker</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
      <div class="team-member-img">
        <img src="./img/sharath.jfif" alt="">
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0 text-white">Sharath Chandra</h5>
        <small class="text-white">Web Designer</small>
        <div class="hline"></div>
        <p class="text-white">Creative Thinker</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member">
      <div class="team-member-img">
        <img src="./img/naveen.jfif" alt="">
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0 text-white">Naveen Kumar</h5>
        <small class="text-white">Web Designer</small>
        <div class="hline"></div>
        <p class="text-white">Creative Thinker</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
      <div class="team-member-img">
        <img src="./img/sharath.jfif" alt="">
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0 text-white">Anshu pratap singh</h5>
        <small class="text-white">Web Designer</small>
        <div class="hline"></div>
        <p class="text-white">Creative Thinker</p>
        <p class="text-white"></p>
      </div>
    </div>
  </section>
</section>

{{> footer}}