@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


/* cards */


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
   line-height: 1.8;
   color: #898fa1;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #11245A;
}

.title-sm {
   font-size: 16px;
   letter-spacing: 1px;
}

a {
   font-weight: 700;
   transition: all 0.4s ease;
   text-decoration: none;
}

img {
   width: 100%;
}

small {
   font-size: 12px;
   letter-spacing: 2px;
   font-weight: 700;
   text-transform: uppercase;
}

section {
   padding-top: 100px;
   padding-bottom: 100px;
}

.navbar {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-text {
   font-size: 22px;
   text-transform: uppercase;
   color: #11245A !important;
}

.navbar .nav-link {
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
   color: #E93B81;
}

#home {
   background: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8)), url(../img/hero_img.jpg);
   min-height: 100vh;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   align-items: center;
}

#home h1 {
   font-weight: 700;
}

#home p {
   max-width: 550px;
   margin: 18px auto;
}

.btn {
   font-weight: 700;
   font-size: 12px;
   text-transform: uppercase;
   padding: 12px 28px;
   border-radius: 0;
}

.btn-brand {
   background-color: #E93B81;
   color: #fff;
}

.btn-brand:hover {
   background-color: #ce2f6e;
   color: #fff;
}

.section-intro {
   text-align: center;
   margin-bottom: 60px;
}

.section-intro .hline {
   width: 120px;
   height: 2px;
   background-color: rgba(0, 0, 0, 0.1);
   margin: 16px auto 0 auto;
}

.icon-box {
   width: 60px;
   height: 60px;
   background-color: #E93B81;
   color: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   flex: none;
}

.section-4 .container h1 {
   font-size: 6vmin;
   padding-top: 14vmin;
}

.section-4 .team {
   padding: 1vmin 4vmin;
}

.section-4 .card {
   width: 20em;
   margin-top: 1vmin;
   height: 400px;
}

.section-4 .card .card-text {
   padding: 0.5em;
}

.section-4 .card-body>a {
   font-size: 1.5em;
}

.section-4 .carousel-item {
   padding-left: 3rem;
}

.border-radius {
   border-radius: 340px;
   width: 60%;
}


/* Services cards */


html,
body {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   height: 100%;
   width: 100%;
   background: #FFF;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.services {
   display: table;
   height: 100%;
   width: 100%;
}

.container-fostrap {
   display: table-cell;
   padding: 1em;
   text-align: center;
   vertical-align: middle;
}

.fostrap-logo {
   width: 100px;
   margin-bottom: 15px
}

h1.heading {
   color: #fff;
   font-size: 1.15em;
   font-weight: 900;
   margin: 0 0 0.5em;
   color: #505050;
}

@media (min-width: 450px) {
   h1.heading {
      font-size: 3.55em;
   }
}

@media (min-width: 760px) {
   h1.heading {
      font-size: 3.05em;
   }
}

@media (min-width: 900px) {
   h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
   }
}

.card {
   display: block;
   margin-bottom: 20px;
   line-height: 1.42857143;
   background-color: #fff;
   border-radius: 2px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   transition: box-shadow .25s;
}

.card:hover {
   box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
   width: 100%;
   height: 200px;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
   display: block;
   overflow: hidden;
}

.img-card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   transition: all .25s ease;
}

.card-content {
   padding: 15px;
   text-align: left;
}

.card-title {
   margin-top: 0px;
   font-weight: 700;
   font-size: 1.65em;
}

.card-title a {
   color: #000;
   text-decoration: none !important;
}

.card-read-more {
   border-top: 1px solid #D4D4D4;
}

.card-read-more a {
   text-decoration: none !important;
   padding: 10px;
   font-weight: 600;
   text-transform: uppercase
}